# Archivos generados por Android Studio
*.iml
.idea/

# Configuraciones específicas de usuario
local.properties
.DS_Store

# Output de compilación
/build/
.cxx/
.externalNativeBuild/
captures/

# Gradle y cache
.gradle/
**/build/

# Archivos de sistema
Thumbs.db
*.log

# Configuración específica del IDE
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
